*{
	margin: 0px;
	padding: 0px;

}
body{
	font-family: sans-serif,'Raleway','Source Sans Pro', sans-serif;
}
.header{
    background-image: url(../images/header-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.header-iphone img{
    width: 100%;
}
.header-overlay{
    background-color: rgba(31,31,31,0.75);
}
.logo{
    padding-bottom: 50px;
}
.header-text h1{
    color: white;
    font-size: 34px;
    font-weight: 300;
    line-height: 50px;
    padding-top: 30px;
    text-transform: uppercase;
}